@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size:   0.95rem;
    box-sizing:  border-box;
    padding:     0;
}

html {
    height:           100%;
    background-color: #18191c;
}

body {
    font-family:            Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
    font-size:              15px;
    line-height:            1.5em;
    display:                flex;
    flex-direction:         column;
    height:                 100%;
    vertical-align:         baseline;
    color:                  rgb(255, 255, 255);
    background:             linear-gradient(180deg, #222431, #18191c 50%);
    background-size:        50% auto;
    -webkit-font-smoothing: antialiased;
}

hr {
    width:        90%;
    border-width: 0.5px;
    border-color: #323546;
    place-self:   center;
}

.icons {
    width:         25px;
    height:        25px;
    border-radius: 50%;
    object-fit:    contain;
}

.red {
    font-weight: 700;
    color:       #ea3943;
}

.green {
    font-weight: 700;
    color:       #16c784;
}

a:hover {
    text-decoration: none;
}
